.Header__title {
    max-width: 320px;
}

.Header__title h1 {
    font-size: 2.2em;
    padding: 20px;
    text-align: right;
}

.Header__colored {
    color: green;
}

.Header__lead p {
    margin-top: 50px;
    padding: 24px 12px;
    border-left: 1px solid gray;
    max-width: 500px;
}